@using MyWebProject.Core.Models
@model IEnumerable<UserviewModel>


<head>
    <style>
        table{
            font-family: arial, sans-serif;
            border: 1px solid black;
            width: 90%;
        }

        th {
            background-color: white;
            text-align: center;
            padding: 8px;
            border: 1px solid black;
        }

        td {
            border: 1px solid black;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: white;
        }
        tr{
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }
        img{
            object-fit:cover;
        }
  
    </style>
</head>

<table>
    <tr>
        <th>Avatar</th>
        <th>Full Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Activ</th>
        <th>Last Active</th>

    <tr />
        @foreach (var item in Model)
        {
        <tr>
            <td><img src="@item.Avatar" width="250" height="150" /></td>
            <td>@item.FullName</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.IsActive</td>
            <td>@item.LastActiveLog</td>
        </tr>
        }
</table> 