@model IEnumerable<LandMarkViewModelAll>

@{
    var loopmodel = Model
    .OrderBy(x => x.Name)
    .ToList();
    int count = 0;
}

<div class="text-lg-center">

    <p style="font-size:50px;">Забележителностите на България</p>

    @for (int i = 0; i < Model.Count(); i += 3)
    {
        <div class="row">
            @foreach (var item in loopmodel.Take(3))
            {
                @if (count==0)
                {
                    <br />
                    @item.TownName;
                    count++;
                    <br />
                }
                var picture = item.Pictures.FirstOrDefault(x => x.LandMarkId == item.Id);

                @if (loopmodel.Count() < 3)
                {
                    break;
                }
                <br />
                <div class="col" style="width: 18rem;">
                    <img src="@picture?.UrlImgAddres" class="card-img-top" alt="...">
                    <div class="card-group">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description.Substring(0,60)...</p>
                        <h2 class="text-sm-start">Рейтинг:@item.Rating</h2>
                        <a class="btn btn-primary" asp-route-id="@item.Id" asp-controller="landMark" asp-action="LandMarkById">Научи повече</a>
                    </div>
                </div>
                @loopmodel.Remove(item);
            }
            @count--;
        </div>
        <br />
    }
</div>
