@model IEnumerable<JourneyGetAllViewModel>


<head>
    <link rel="stylesheet" href="~/css/All CSS file/JourneyCustomCSS/JourneyCustomCss.css" asp-append-version="true" />
</head>

<div class="card-center">
    <h1>Екскурзии и Почивки</h1>
    <br />
    <hr />
</div>

@foreach (var pic in Model)
{
    var picture = pic.pictures.FirstOrDefault(x => x.JourneyId == pic.Id);

    <div class="container">
        <div class="row">
            <div id="All" class="col">
                <img src="@picture?.UrlImgAddres" class="card-img-top" alt="Town" />
                <h3 class="card-title">@pic.Name</h3>
                <br />
                <hr />
                <h6 class="card-img-top">@pic.Description.Substring(0,500)...</h6>
                <br />
                <hr />
                <p class="rating">Рейтинг: @pic.Rating</p>
                <hr />
                <p class="startDate">Начална дата: @pic.StartDate</p>
                <hr />
                <p class="day"> Дни: @pic.Day</p>
                <hr />
                <br />
                <a class="btn btn-primary" asp-controller="Journey" asp-action="GetById"
               asp-route-id="@pic.Id">Към Пътешествието</a>
            </div>
        </div>
    </div>
    <br />
}