@using MyWebProject.Core.Models.LandMarkModel;
@model IEnumerable<LandMarkViewModelAll>

@{
<<<<<<< HEAD
    var loopmodel = Model.ToList();
=======
    var loopmodel = Model.ToList(); 
>>>>>>> 9e8d5f20cc5880a64054c64a3f65828871396cfc
}

<div class="text-lg-center">

    <p style="font-size:50px;">Забележителностите на България</p>
<<<<<<< HEAD

    @for (int i = 0; i < Model.Count(); i += 3)
=======
    
    @for (int i = 0; i < Model.Count(); i+=3)   
>>>>>>> 9e8d5f20cc5880a64054c64a3f65828871396cfc
    {
        <div class="row">
            @foreach (var item in loopmodel.Take(3))
            {
<<<<<<< HEAD
                var picture = item.Pictures.FirstOrDefault(x => x.LandMarkId == item.Id);

                @if (loopmodel.Count() < 3)
                {
                    break;
                }
=======
            var picture = item.Pictures.FirstOrDefault(x => x.LandMarkId == item.Id);
>>>>>>> 9e8d5f20cc5880a64054c64a3f65828871396cfc

                <div class="col" style="width: 18rem;">
                    <img src="@picture.UrlImgAddres" class="card-img-top" alt="...">
                    <div class="card-group">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description.Substring(0,60)...</p>
<<<<<<< HEAD
                        <a class="btn btn-primary" asp-route-id="@item.Id" asp-controller="landMark" asp-action="LandMarkById">Научи повече</a>
                    </div>
                </div>
                loopmodel.Remove(item);
            }
=======
                        <h2 class="text-sm-start">Рейтинг:@item.Rating</h2>
                        <a class="btn btn-primary" asp-route-id="@item.Id" asp-controller="landMark" asp-action="Get">Научи повече</a>
                    </div>
                </div>
                loopmodel.Remove(item);
        }
>>>>>>> 9e8d5f20cc5880a64054c64a3f65828871396cfc
        </div>
        <br />
    }
</div>
