@model LandMarkViewModelAll

@{
    bool first = true;
}

<head>
    <link rel="stylesheet" href="~/css/All CSS file/LandMarkCustomCSS/LandMarkByIDCustom.css" asp-append-version="true" />
</head>

<div class="text-lg-center">
    <h1 style="font-size:50px;"> @Model.Name</h1>
</div>
<hr />
<br />
@{
    var pic = Model.Pictures.Where(x => x.LandMarkId == Model.Id).ToList();
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var sa in pic)
        {
            <div class="carousel-item @(first ? "active" : string.Empty)">

                <img class="d-block w-100" style="height:500px" src="@sa.UrlImgAddres" alt="Land mark picture">
            </div>

            first = false;
        }
    </div>
    <div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="descript">
    <p class="text-black">@Model.Description</p>
    <br />
    <a href="https://www.google.com/search?q=@Model.Name">Може да прочетете още...</a>
</div>

<div class="secOptions">
    <div class="row">
        <style>
            .checked {
                color: orange;
            }
        </style>
        <div>
            @if (Model.Rating == 0)
            {
                <p class="rating">

                    Рейтинг:
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    :@Model.Rating
                </p>
            }

            @if (Model.Rating > 0 && Model.Rating <= 2)
            {
                <p class="rating">

                    Рейтинг:
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    :@Model.Rating
                </p>
            }

            @if (Model.Rating > 2 && Model.Rating <= 4)
            {
                <p class="rating">

                    Рейтинг:
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    :@Model.Rating
                </p>
            }

            @if (Model.Rating > 4 && Model.Rating <= 6)
            {
                <p class="rating">

                    Рейтинг:
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    :@Model.Rating
                </p>
            }

            @if (Model.Rating > 6 && Model.Rating <= 8)
            {
                <p class="rating">

                    Рейтинг:
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    :@Model.Rating
                </p>
            }

            @if (Model.Rating > 8 && Model.Rating <= 10)
            {
                <p class="rating">

                    Рейтинг:
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    :@Model.Rating
                </p>
            }


            @if (User.Identity!.IsAuthenticated)
            {
                <a class="btn" asp-controller="LandMark" asp-action="UpRatting" asp-route-id="@Model.Id">Гласувай</a>
            }


        </div>


        @if (Model.TownName != null)
        {
            <br />
            <br />
            <br />
            <hr />
            <h3 class="text-md-start">Град: @Model.TownName</h3>
            <br />
            <hr />
        }
    </div>
</div>




<div class="row">


    <div>
        <div id="map-@Model.Id" style="height: 400px; width: 80%;"></div>
        <script>
            function initMap() {
                var location = { lat: @Model.Latitude, lng: @Model.Longitude };
                var map = new google.maps.Map(document.getElementById('map-@Model.Id'), {
                    zoom: 15,
                    center: location
                });
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }
        </script>
    </div>


    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=MY_API_KEY&callback=initMap">
    </script>

</div>
