@model IEnumerable<LandMarkViewModelAll>

@{
    bool first = true;
}

@foreach (var item in Model)
{
    <div class="text-lg-center">
        <p style="font-size:50px;"> @item.Name</p>
    </div>
    var pic = item.Pictures.Where(x => x.LandMarkId == item.Id).ToList();
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var sa in pic)
            {
                <div class="carousel-item @(first ? "active" : string.Empty)">

                    <img class="d-block w-100" style="height:500px"
                 src="@sa.UrlImgAddres" alt="...">

                </div>

                first = false;
            }
        </div>
    </div>
    <div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container">
        <div class="row">
            <div class="text-black">@item.Description</div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="text-lg-start">Rating: @item.Rating</div>
            <div class="text-md-start">Град: @item.TownName</div>
        </div>
    </div>
}