@model LandMarkViewModelAll

@{
    bool first = true;
}

<head>
    <link rel="stylesheet" href="~/css/All CSS file/LandMarkCustomCSS/LandMarkByIDCustom.css" asp-append-version="true" />
</head>

<div class="text-lg-center">
    <h1 style="font-size:50px;"> @Model.Name</h1>
</div>
<hr />
<br />
@{
    var pic = Model.Pictures.Where(x => x.LandMarkId == Model.Id).ToList();
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var sa in pic)
        {
            <div class="carousel-item @(first ? "active" : string.Empty)">

                <img class="d-block w-100" style="height:500px" src="@sa.UrlImgAddres" alt="Land mark picture">
            </div>

            first = false;
        }
    </div>
    <div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="descript">
    <p class="text-black">@Model.Description</p>
    <br />
    <a href="https://www.google.com/search?q=@Model.Name">Може да прочетете още...</a>
</div>

<div class="secOptions">
    <div class="row">
        <h3 class="text-lg-start">Рейтинг: @Model.Rating</h3>
        @if (Model.TownName != null)
        {
            <br />
            <hr />
            <h3 class="text-md-start">Град: @Model.TownName</h3>
            <br />
            <hr />
        }
    </div>
</div>
