@using MyWebProject.Core.Models.Town;
@model TownViewModelGetTown

<head>
    <link rel="stylesheet" href="~/css/Admin Area css/TownCSS/EditTownCSS.css">
</head>



<h2>Changes Town</h2>
<hr />

@using (Html.BeginForm("Edit", "OptionTown", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="formCreate">

        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label">Name</label>
            <input asp-for="@Model.Name" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Description" class="form-label">Description</label>
            <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="6" cols="30"></textarea>
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary"> Changes Town</button>
    </div>
}

