@using MyWebProject.Core.Models.Town;
@model IEnumerable<TownViewModelAll>


<head>
    <link rel="stylesheet" href="~/css/Admin Area css/TownCSS/TownIndexPage.css">
</head>


<div id="create">
    <a asp-area="Administrator" asp-controller="OptionTown" asp-action="Create">+Add New Town</a>
</div>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Picture</th>
        <th>landMark</th>
        <th>Culture Event</th>
        <th>Options</th>
    <tr />
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><textarea rows="3" cols="30">@item.Description</textarea></td>
                @if (item.Picture.Count == 0)
                {
                <td>There is no Picture</td>
                }
                else
                {
                <td>@Html.ActionLink("See all picture","SeeAllPicture","OptionTown",new {@Id =item.Id})</td>
                }
                @if (item.Landmarks.Count == 0)
                {
                <td>There is no LandMarks</td>
                }
                else
                {
                      <td>@Html.ActionLink("See all LandMarks","SeeAllLandMarks","OptionTown",new {@Id =item.Id})</td>
                }
                @if (item.cultural_Events.Count == 0)
                {
                <td>There is no Event</td>
                }
                else
                {
                     <td>@Html.ActionLink("See All Culture Event","SeeAllEvents","OptionTown",new {@Id =item.Id})</td>
                }
          
           
            <td>
                <a id="edit" class="btn btn-outline-warning" asp-area="Administrator" asp-route-id="@item.Id" asp-controller="OptionTown" asp-action="Edit">Edit</a>
                <a id="deleteBtn" asp-area="Administrator" asp-route-id="@item.Id" asp-controller="OptionTown" asp-action="Delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
</table>
