@model JourneyViewModel


<head>
    <style>

        h2 {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        #formCreate{
            position:relative;
            left:450px;
        }

        .mb-3 input {
            position: relative;
            width: 400px;
        }

        .mb-3 textarea {
            position: relative;
            width: 400px;
        }


        .btn {
            position: relative;
            left: 100px;
            bottom: -10px;
            margin: 20px;
        }

        #area {
            position: relative;
            left: 10px;
            width: 400px;
            height: 100px;
        }

    </style>
</head>


<h2>Create new Journey</h2>
<hr />

@using (Html.BeginForm("Create", "OptionJourney", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="formCreate">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" aria-required="true" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control" aria-required="true" rows="6" cols="30"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Rating" class="form-label">Rating</label>
            <input asp-for="@Model.Rating" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.Rating" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.StartDate" class="form-label">Start Date</label>
            <input asp-for="@Model.StartDate" type="date" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Day" class="form-label">Duration days</label>
            <input asp-for="@Model.Day" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.Day" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Price" class="form-label">Price</label>
            <input asp-for="@Model.Price лв." class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Urladdress" class="form-label">Image URL address</label>
            <input asp-for="@Model.Urladdress" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.Urladdress" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary"> Create Journey</button>
    </div>
}

