@model JourneyViewModel


<head>
    <style>

        input {
            width: 400px;
            padding: 10px;
            margin: 10px;
        }

        h2 {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        #formCreate {
            position: relative;
            left: 350px;
        }

        .btn {
            position: relative;
            left: -310px;
            bottom: -70px;
            margin: 20px;
        }

        #area {
            position: relative;
            left: 10px;
            width: 400px;
            height: 100px;
        }

        label {
            position: relative;
            left: 10px;
        }

        form {
            height: 800px;
        }

    </style>
</head>


<h2>Change Journey</h2>
<hr />


<form id="formCreate" method="post" asp-area="Administrator" asp-controller="OptionJourney" asp-action="Edit">

    <label>Change Name</label>
    <br />
    <input class="form" autocomplete="on" placeholder="Enter  name" asp-for="@Model.Name" />
    <br />
    <label>Change description</label>
    <br />
    <textarea id="area" class="form" autocomplete="on" placeholder="Enter  description" asp-for="@Model.Description"></textarea>
    <br />
    <label>Change rating</label>
    <br />
    <input class="form" autocomplete="on" placeholder="Enter  " asp-for="@Model.Rating" />
    <br />
    <label>Change start date</label>
    <br />
    <input class="form"  autocomplete="on" placeholder="Enter date to start" asp-for="@Model.StartDate" />
    <br />
    <label>Change duration days</label>
    <br />
    <input class="form" autocomplete="on" placeholder="duration days" asp-for="@Model.Day" />
    <br />
    <label>Change price</label>
    <br />
    <input class="form" autocomplete="on" placeholder="Enter  price" asp-for="@Model.Price" />
    <br />
    <label>Change Url address image</label>
    <br />
    <input class="form" autocomplete="on" placeholder="Enter event image" asp-for="@Model.Urladdress" />

    <button type="submit" class="btn btn-primary"> Change Journey</button>
    <br />
</form>

