@model IEnumerable<JourneyGetAllViewModel>


<head>
    <link rel="stylesheet" href="~/css/Admin Area css/JourneyCSS/JourneyIndexPage.css">
</head>


<div id="create">
    <a asp-area="Administrator" asp-controller="OptionJourney" asp-action="Create">Create new Journey</a>
</div>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Rating</th>
        <th>StartDate</th>
        <th>Day</th>
        <th>Prace</th>
        <th>image</th>
        <th>Options</th>
    <tr />
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Rating</td>
            <td>@item.StartDate</td>
            <td>@item.Day</td>
            <td>@item.Price лв.</td>
                @{
                    var set = @item.pictures.FirstOrDefault(x => x.JourneyId == item.Id);
                }

            <td><a id="seen" href="@set?.UrlImgAddres">See image</a></td>
            <td>
                <a id="edit" class="btn btn-outline-warning" asp-area="Administrator" asp-route-id="@item.Id" asp-controller="OptionJourney" asp-action="Edit">Edit</a>
                <a id="deleteBtn" asp-area="Administrator" asp-route-id="@item.Id" asp-controller="OptionJourney" asp-action="Delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
</table>
