@model CultureEventViewModelByTownId

<head>
    <link rel="stylesheet" href="~/css/All CSS file/EventsCustomCSS/EventCss.css" asp-append-version="true" />
</head>


<div id="divConntainer">
    
    <div>
        <img src="@Model.ImageURL" alt="Event">
    </div>
    
    <br />
    <div class="descriptA">

        <h1>@Model.Name</h1>
       
        <p>@Model.Description</p>
      

    </div>
    <div class="datatime">

        <hr />
        <p>Дата на събитието: @Model.Date</p>
        <p>Час на започване: @Model.Hour</p>
        <p>Град: @Model.TownName</p>
        <hr />
        <p>За заптвания моля да се свържите с нас на посочените телефони или имейли.</p>

    </div>
    
</div>
