@model IEnumerable<CultureEventViewModelByTownId>

<head>
    <link rel="stylesheet" href="~/css/EventCss.css" asp-append-version="true" />
</head>

@foreach (var item in Model)
{
    <div id="divConntainer" class="container">
        <img src="@item.ImageURL" alt="...">
        <br />
        <h1>@item.Name</h1>
        <br />
        <hr />
        <p>@item.Description</p>
        <br />
        <hr />
        <p>Дата на събитието: @item.Date</p>
        <p>Час на започване: @item.Hour</p>
        <p>Град: @item.TownName</p>  
        <hr />
        <p>За заптвания моля да се свържите с нас на посочените телефони или имейли.</p>
    </div>
}
