@model CultureEventViewModelByTownId

<head>
    <link rel="stylesheet" href="~/css/All CSS file/EventsCustomCSS/EventCss.css" asp-append-version="true" />
</head>


    <div id="divConntainer" class="container">
        <img src="@Model.ImageURL" alt="...">
        <br />
        <h1>@Model.Name</h1>
        <br />
        <hr />
        <p>@Model.Description</p>
        <br />
        <hr />
        <p>Дата на събитието: @Model.Date</p>
        <p>Час на започване: @Model.Hour</p>
        <p>Град: @Model.TownName</p>  
        <hr />
        <p>За заптвания моля да се свържите с нас на посочените телефони или имейли.</p>
    </div>
