@model IEnumerable<CultureEventViewModelByTownId>


@foreach (var item in Model)
{
    <div>
        <img src="@item.ImageURL" class="card-img-top" alt="...">
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="text-black">@item.Name</div>
            <div class="text-black">@item.Description</div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="text-lg-start">Дата на събитието: @item.Date</div>
            <div class="text-md-start">Час на започване: @item.Hour</div>
            <div class="text-lg-start">Град: @item.TownName</div>
        </div>
    </div>

}

