@model IEnumerable<AllCultureEventViewModel>

@{
    var all = Model.OrderBy<AllCultureEventViewModel, string>(x => x.Town).ToList<AllCultureEventViewModel>();
}

<head>
    <link rel="stylesheet" href="~/css/All CSS file/EventsCustomCSS/AllEventCSS.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" asp-append-version="true" />
</head>


<div class="text-lg-center">

    @{
        int count = 1;
    }
    <p style="font-size:50px;">Събития подредени по Градове</p>

    @for (int i = 0; i < Model.Count(); i += 4)
    {
        <div class="row">
            @foreach (var item in all.Take(4))
            {
               @*  next task add onclick event to a tag to clicked set color to light ,light ,light  green maybe *@
                <div id="Custom" class="col">
                    <img src="@item.ImageURL" alt="@item.Name"/>
                    <div id="statistic">
                        <a href="#" onclick="changeColorTag(this)"><i class="fa-regular fa-star"></i>Може би</a>
                        <a href="#" onclick="changeColorTag(this)"><i class="fa-solid fa-circle-check"></i>Ще присъствам</a>
                    </div>
                    <h4>"@item.Name"</h4>

                    <p><i class="fa-regular fa-calendar-days"></i> @item.Date.Substring(0, 5)</p>

                    <p><i class="fa-regular fa-clock"></i> @item.Hour</p>

                    <p><i class="fa-solid fa-location-dot"></i>@item.Town</p>
                    <hr />
                    <a id="@count" class="btn btn-primary" asp-route-id="@item.Id" asp-controller="CultureEvent" asp-action="EventByTownId">Научи повече</a>
                </div>
                all.Remove(item);
                count++;
            }
        </div>
        <br />
    }
</div>


@section scripts {
    <script>
        function displayBlock() {

            let getDivId = document.getElementById('statistic');

            getDivId.style.display = 'block';
        }

        function normalSize() {

            let getDivId = document.getElementById('statistic');

            getDivId.style.display = 'none';
        }

        function changeColorTag(change) {

            change.style.color = '#06f420';

        }
    </script>
}
