@using MyWebProject.Core.Models.PictureModel;
@model IEnumerable<PicturesViewModel>

@*  <i class="fa-solid fa-thumbs-up fa-xl"></i> *@

<head>
    <link rel="stylesheet" href="~/css/All CSS file/PictureCustomCSS/AllPictureUploadByUser.css">
</head>


<div class="row">
    @foreach (var item in Model)
    {

        <div id="cardsPictures" class="col">
            @if (item.PictureData != null && item.PictureData.Length > 0)
            {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.PictureData)" alt="User Picture" />
            }
            else
            {
                <img src="@item.UrlImgAddres" alt="User Picture" />
            }

            @if (User.Identity!.Name != null)
            {
                <div id="boxFlex">
                    <h5>User: @item.UserName</h5>
                    <a id="hideoptions" asp-area="" asp-controller="Picture" asp-action="UpLikeCount" asp-route-id="@item.Id">
                        <i class="fa-regular fa-thumbs-up fa-xl"></i>
                        <span>@item.LikeCount</span>
                    </a>
                </div>
            }
            else
            {
                <div id="boxFlex">
                    <h5>User: @item.UserName</h5>
                    <a id="hideoptions">
                        <i class="fa-regular fa-thumbs-up fa-xl"></i>
                        <span>@item.LikeCount</span>
                    </a>
                </div>
            }

        </div>
    }
</div>