@using MyWebProject.Core.Models.Category;
@model IEnumerable<CategoryViewModel>


<head>
    <link rel="stylesheet" href="~/css/Admin Area css/CategoryCSS/CategoryIndexPage.css">
</head>


<div id="create">
    <a asp-area="Administrator" asp-controller="OptionCategory" asp-action="Create">Create new category</a>
</div>

<table>
    <tr>
        <th>Id</th>
        <th>Categoty Name</th>
        <th>Categoty Options</th>
    <tr />
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                    @Html.AntiForgeryToken()
                <a id="edit" asp-area="Administrator" asp-route-id="@item.Id" asp-controller="OptionCategory" asp-action="Edit" class="btn btn-outline-warning">Edit</a>
                <a id="deleteBtn" asp-area="Administrator" asp-route-id="@item.Id" asp-controller="OptionCategory" asp-action="Delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }

</table>