@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<style>

    .mb-3 {
        padding-bottom: 10px;
    }

        .mb-3 .form-control {
            border-radius: 10px;
        }

    main .pb-3 {
        padding-bottom: 0px;
        background: #e0dede;
        background: linear-gradient(90deg, rgba(224, 222, 222, 1) 77%, rgba(201, 179, 177, 1) 94%);
    }

    #cont {
        margin-bottom: 0px;
    }

    .row {
        margin: 0px;
    }

    #registerForm{
        border: 1px solid lightgray;
        width: 450px;
        padding: 25px;
        background: #2828a1;
        background: radial-gradient(circle,rgba(40, 40, 161, 1) 0%, rgba(50, 56, 227, 1) 77%);
        border-radius: 20px;
        margin-top:10px;
        
    }

    #Title{
        color:#fff;
        margin-bottom:30px;
    }

    #registerSubmit{
        background-color: #ffa000;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:bold;
        border-radius:20px;
        width:170px;
        margin-top:10px;
    }

    footer {
        display:none;
    }

</style>


<div class="row">
    <div class="col-md-4 offset-md-4">
        <form id="registerForm" method="post">

            <h1 id="Title" class="text-center">@ViewData["Title"]</h1>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="text-center mb-3">
                <input class="form-control " autocomplete="Firstname" aria-required="true" placeholder="Enter your First name" asp-for="@Model.FirstName" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>

            <div class="text-center mb-3">
                <input class="form-control " autocomplete="Lastname" aria-required="true" placeholder="Enter your Last name" asp-for="@Model.LastName" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>

            <div class="text-center mb-3">
                <input class="form-control " autocomplete="username" aria-required="true" placeholder="Enter your User name" asp-for="@Model.UserName" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>

            <div class="text-center mb-3">
                <input class="form-control " autocomplete="email" aria-required="true" placeholder="Enter your Email" asp-for="@Model.Email" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>

            <div class="text-center mb-3">
                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="Enter your password" asp-for="@Model.Password" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>

            <div class="text-center mb-3">
                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="Confirm your password" asp-for="@Model.ConfirmPassword" />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}