
<head>
    <link rel="stylesheet" href="~/css/Admin Area css/AdminIdexPage.css">
</head>

<div class="container">
    <a> @Html.ActionLink("Wait for Approval landmark", "GetByUser", "OptionLandMark", null, new { @class = "myactionlink1" })</a>
    <a> @Html.ActionLink("Wait for Approval Picture", "ByUserPicture", "OptionPictures", null, new { @class = "myactionlink2" })</a>
</div>


<div id="selectOption">
    <a class="dropdown-item"> @Html.ActionLink("Category options", "Index", "OptionCategory", null, new { @class = "myactionlink" }) </a>
    <a class="dropdown-item"> @Html.ActionLink("Event options", "Index", "OptionEvent", null, new { @class = "myactionlink" }) </a>
    <a class="dropdown-item"> @Html.ActionLink("Journey options", "Index", "OptionJourney", null, new { @class = "myactionlink" })</a>
    <a class="dropdown-item"> @Html.ActionLink("Land mark options", "Index", "OptionLandMark", null, new { @class = "myactionlink" })</a>
    <a class="dropdown-item"> @Html.ActionLink("Towns options", "Index", "OptionTown", null, new { @class = "myactionlink" })</a>
    <a class="dropdown-item"> @Html.ActionLink("Facts options", "Index", "OptionFacts", null, new { @class = "myactionlink" })</a>
    <a class="dropdown-item"> @Html.ActionLink("Pictures options", "Index", "OptionPictures", null, new { @class = "myactionlink" })</a>
    <a class="dropdown-item"> @Html.ActionLink("Users options", "AllUsers", "UsersOptions", null, new { @class = "myactionlink" })</a>
</div>


