
<head>
    <link rel="stylesheet" href="~/css/Admin Area css/AdminIdexPage.css">
</head>


<aside id="selectOption">
    <a> @Html.ActionLink("Category options", "Index", "OptionCategory", null, new { @class = "myactionlink" }) </a>
    <a> @Html.ActionLink("Event options", "Index", "OptionEvent", null, new { @class = "myactionlink" }) </a>
    <a> @Html.ActionLink("Journey options", "Index", "OptionJourney", null, new { @class = "myactionlink" })</a>
    <a> @Html.ActionLink("Land mark options", "Index", "OptionLandMark", null, new { @class = "myactionlink" })</a>
    <a> @Html.ActionLink("Towns options", "Index", "OptionTown", null, new { @class = "myactionlink" })</a>
    <a> @Html.ActionLink("Facts options", "Index", "OptionFacts", null, new { @class = "myactionlink" })</a>
    <a> @Html.ActionLink("Pictures options", "Index", "OptionPictures", null, new { @class = "myactionlink" })</a>
    <a> @Html.ActionLink("Users options", "AllUsers", "UsersOptions", null, new { @class = "myactionlink" })</a>
</aside>

<div id="statistics">

    <div class="opt">
        
    </div>

    <div class="opt">

    </div>
    <div class="opt">

    </div>

    <div class="opt">

    </div>
    <div class="opt">
    </div>

    <div class="opt">
    </div>
    <div class="opt">
    </div>

    <div class="opt">
    </div>
    <div class="opt">
    </div>

    <div class="opt">
    </div>



</div>

