@using MyWebProject.Core.Models.PictureModel;
@model IEnumerable<PicturesViewModel>


<head>
    <link rel="stylesheet" href="~/css/Admin Area css/PicturesCSS/PictureIndexCSS.css">
</head>


<div id="create">
    <a asp-area="Administrator" asp-controller="OptionPictures" asp-action="AddPicture">Add New Picture</a>
</div>

<table>
    <tr>
        <th>Id</th>
        <th>UrlImgAddres</th>
        <th>Active</th>
        <th>LandMarkId</th>
        <th>TownId</th>
        <th>JourneyId</th>
        <th>User</th>
        <th>Options</th>
    <tr />
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>
                  @if (string.IsNullOrEmpty(item.UrlImgAddres) && item.PictureData != null)
                  {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.PictureData)" width="300" height="200" alt="User Picture" />
                  }
                  else
                  {
                    <img src="@item.UrlImgAddres" width="300" height="200" alt="User Picture" />
                  }
            </td>

            <td>@item.IsActive</td>
            <td>@item.LandMark</td>
            <td>@item.Town</td>
            <td>@item.Journey</td>
            <td>@item.UserName</td>
            <td>
                <a id="edit" class="btn btn-outline-warning" asp-area="Administrator" asp-route-id="@item.Id" asp-controller="OptionPictures" asp-action="EditPicture">Edit</a>
                <a id="deleteBtn" asp-area="Administrator" asp-route-id="@item.Id" asp-controller="OptionPictures" asp-action="Delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }

</table>