@using MyWebProject.Core.Models.Category;
@model IEnumerable<AllCultureEventViewModel>


<head>
    <link rel="stylesheet" href="~/css/Admin Area css/EventIndexPage.css">
</head>


<div id="create">
    <a asp-area="Administrator" asp-controller="OptionEvent" asp-action="AddEvent">Create new Event</a>
</div>

<table>
    <tr>
        <th>Id</th>
        <th>Culture Event Name</th>
        <th>Event Description</th>
        <th>Event Date</th>
        <th>Event Hour</th>
        <th>Event Town</th>
        <th>Event Image</th>
        <th>Event Options</th>
    <tr />
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Date</td>
            <td>@item.Hour</td>
            <td>@item.Town</td>
            <td><a id="seen" href="@item.ImageURL">See image</a></td>
            <td>
                <a id="edit" class="btn btn-outline-warning" asp-area="Administrator" asp-route-id="@item.Id" asp-controller="OptionEvent" asp-action="Edit">Edit</a>
                <a id="deleteBtn" asp-area="Administrator" asp-route-id="@item.Id" asp-controller="OptionEvent" asp-action="Delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
</table>
