@model IEnumerable<LandMarkViewModelAll>


<head>
    <link rel="stylesheet" href="~/css/Admin Area css/LandMarkCSS/LandMarkIndexPage.css">
</head>


<div id="create">
    <a asp-area="Administrator" asp-controller="OptionLandMark" asp-action="AddLandMark">Create New LandMark</a>
</div>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Town Name</th>
        <th>Category</th>
        <th>Video Url</th>
        <th>image</th>
        <th>Options</th>
    <tr />
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Rating</td>
            <td>@item.TownName</td>
            <td>@item.Category</td>
                @if (item.VideoUrl != null)
                {
                <td><a href="@item.VideoUrl">See Video</a></td>
                }
                else
                {
                <td></td>
                }

                @*set all picture to see admin*@
            <td>@Html.ActionLink("See all picture","SlidePicture","OptionLandMark",new {@Id =item.Id})</td>
            <td>
                <a id="edit" class="btn btn-outline-warning" asp-area="Administrator" asp-route-id="@item.Id" asp-controller="OptionLandMark" asp-action="Edit">Edit</a>
                <a id="deleteBtn" asp-area="Administrator" asp-route-id="@item.Id" asp-controller="OptionLandMark" asp-action="Delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
</table>

